<title>Rosh Sports Portal: Edit Session</title>
<h1>Enter Session Information</h1>
<p><b>NOTE:</b> To edit an existing session, navigate to Edit Session from that session's page.</p>
<form id="new-sesh-form" method="POST" action="/chugim/klugie/newsession">
	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="year">Year</label>
			<input class="form-control" type="number" id="year" name="year" min="2000" max="3000" required></input>
			<div class="invalid-feedback">Session already exists</div>
		</div>
		<div class="form-group col-md-3">
			<label for="session">Session</label>
			<div class="form-check">
				<input class="form-check-input session" type='radio' name="session" value="i" required>First</input>
			</div>
			<div class="form-check">
				<input class="form-check-input session" type='radio' name="session" value="ii" required>Second</input>
			</div>
		</div>
	</div>
	<h2>Bunks</h2>
	<div class="form-row">
		{{#each eidot}}
		<div class="col-md-2" style="text-align: center">
			<label>{{this}}</label>
			<div class="form-group">
				<input class="form-control {{this}}" type="text" name="{{this}}" required>
			</div>
			<div class="form-group">
				<input class="form-control {{this}}" type="text" name="{{this}}" required>
			</div>
			<div class="form-group">
				<input class="form-control {{this}}" type="text" name="{{this}}" required>
			</div>
			<div class="form-group">
				<input class="form-control {{this}}" type="text" name="{{this}}" required>
			</div>
		</div>
		{{/each}}
	</div>
	<h2>Chugim</h2>
	<p>Please enter the chug name, its popularity as a number between 0 and 1, its capacity, and which eidot its open to.</p>
	<div id="chug-container"></div>
	<div id="form-group form-check" style="visibility: hidden">
		<input class="form-check-input" type="text" name="editing" id="edit"></input>
	</div>
	<div id="button-container" style="padding-bottom: 25px">
		<button type="button" class="btn btn-primary" id="add-chug">Add Chug</button>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

<script>
	var chugNum = 0;
	var rules = {};
	function getNewChug() {
		var chugAdd = $("<div>")
		var temp = `<div class="form-row">
			<div class="form-group col-md-5">
				<input class="form-control" id="name" type="text" placeholder="Chug Name" name="name" required></input>
				<div class="invalid-feedback">Please select eidot for this chug</div>
			</div>
			<div class="form-group col-md-2">
				<input class="form-control" id="pop" type="number" step=".1" min="0" max="1" name="popularity" placeholder="Popularity" required></input>
			</div>
			<div class="form-group col-md-2">
				<input class="form-control" id="cap" type="number" min="0" max="100" name="capacity" placeholder="Capacity" required></input>
			</div>
			<button type="button" id="delete" class="btn btn-danger delete-chug" style="height: 37px">-</button>
		</div>
		<div class="form-row">
			<div class="form-group">`
		for (var eidah of ["Aleph", "Vav", "Bet", "Gimmel", "Daled", "AV", "BGD", "All"]) {
			temp += `<div class="form-check form-check-inline">
							<input class="form-check-input eidot${chugNum}" type="checkbox" name="eidot[${chugNum}]" value="${eidah.toLowerCase()}">
							<label class="form-check-label" for="${eidah.toLowerCase()}">${eidah}</label>
						</div>`
		}
		temp += `</div></div><hr>`;

		chugNum++;
		chugAdd.append(temp)
		return chugAdd;
	}
	
	function addChug(newChug) {
		$("#chug-container").append(newChug);
		$(".delete-chug").on("click", function(event) {
			// Double parent for both rows. outer div tag makes sure it only removes this elt
			$(this).parent().parent().remove();
		});
	}

	$("#add-chug").on('click', function() {
		addChug(getNewChug());
	});

	if (ctxt.editing) {
		// Load in session data
		$("#year").val(ctxt.session.year);
		$(`input[value=${ctxt.session.session}]`).prop('checked', true)
		for (var i of ctxt.eidot) {
			var arr = $(`.${i}`);
			for (var j in arr) {
				arr[j].value = ctxt.session.bunks[i.toLowerCase()][j]
			}
		}

		// Populate Chug list
		for (var chug of ctxt.chugim) {
			var temp = getNewChug();
			temp.find("#name").val(chug.name);
			temp.find("#cap").val(chug.capacity);
			temp.find("#pop").val(chug.popularity);

			for (var eidah of chug.eidot) {
				temp.find(`input[value=${eidah}]`).prop('checked', true);
			}
			addChug(temp);
		}

		$("#edit").val(ctxt.session._id);
	}

	$("#new-sesh-form").on("submit", function(event) {
		var id = ($("#year").val() - 2000) + $(".session:checked").val()
		if (ctxt.sessionIDs.includes(id) && id !== $("#edit").val()) {
			$("#year").addClass('is-invalid')
			$("#year").focus();

			$("#year,.session").on('click', function() {
				$("#year").removeClass('is-invalid');
			})
			return false;
		}

		if($("#chug-container").is(":empty")) {
			alert("Please add chugim")
			return false;
		}

		for (var i = 0; i < chugNum; i++) {
			if ($(`.eidot${i}`).length && !$(`.eidot${i}:checked`).length) {
				event.preventDefault();
				var cont = $(`.eidot${i}`).parent().parent().parent().parent().find("#name")
				cont.addClass('is-invalid')
				cont.focus();

				$(`.eidot${i}`).on('click', function() {
					cont.removeClass('is-invalid')
				})
			}
		}

		
	});
</script>