<title>Rosh Sports Portal: {{session.name}}</title>

<style>
	.yellowmouse {
		background-color: #ffeb56;
	}

	.bluemouse {
		background-color: #b3caef;
	}

</style>

<div class="top-right">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Options
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			{{#if session.active}}
			<button id="activate" class="dropdown-item">Deactivate</button>
			{{else}}
			<button id="activate" class="dropdown-item">Activate</button>
			{{/if}}
			<button id="produceList" class="dropdown-item">Produce Chug List</button>
			<a href="/chugim?session={{sessionID}}" class="dropdown-item">Enter Camper Data</a>
			<a href="/chugim/klugie" class="dropdown-item">Select Another Session</a>
			<a href="/chugim/klugie/newsession?session={{session.id}}" class="dropdown-item">Edit Session</a>
			<button data-toggle="modal" data-target="#deleteWarning" class="dropdown-item">Delete Session</button>
		</div>
	</div>
</div>

<h1>{{session.name}}</h1>
<p>Camper Preferences
	<span style="float:right;">{{length prefs}} Campers Entered</span>
</p>
{{#if session.active}}
<p style="text-align: center; color: #049309; font-size: 16pt"><b>Session Active</b></p>
{{else}}
<p style="text-align: center; color: #ba1209; font-size: 16pt">Session Inactive</p>
{{/if}}
</p>

<ul class="nav nav-tabs justify-content-center" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="camper-tab" data-toggle="tab" href="#campers-view" role="tab" aria-controls="camper-view" aria-selected="true">Campers</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="chug-tab" data-toggle="tab" href="#chug-view" role="tab" aria-controls="chug-view" aria-selected="true">Chugim</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade show active" id="campers-view" role="tabpanel" aria-labelledby="camper-tab">
		{{#if areCampers}}
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Eidah</th>
					<th>Gender</th>
					<th>Bunk</th>
					<th>Choice 1</th>
					<th>Choice 2</th>
					<th>Choice 3</th>
				</tr>
			</thead>
			{{#each prefs}}
			<tr class="trow camper-row" data-toggle="modal" data-target="#camperModal">
				<td>{{this.name}}</td>
				<td>{{titleCase this.eidah}}</td>
				<td>{{titleCase this.gender}}</td>
				<td>{{titleCase this.bunk}}</td>
				{{#each this.prefs}}
				<td>{{titleCase this}}</td>
				{{/each}}
			</tr>
			{{/each}}
		</table>
		{{else}}
		<h3 style="text-align: center; padding: 20px">No Campers Entered Yet</h3>
		{{/if}}
	</div>
	<div class="tab-pane fade" id="chug-view" role="tabpanel" aria-labelledby="chug-tab">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Capacity</th>
					<th>Popularity</th>
					<th>Eidot</th>
				</tr>
			</thead>
			{{#each session.klugim}}
			<tr class="trow">
				<td>{{titleCase this.name}}</td>
				<td>{{this.capacity}}</td>
				<td>{{this.popularity}}</td>
				<td>
					{{#each this.eidot}}
					{{titleCase this}}
					{{/each}}
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>

<!-- Camper Modal -->
<div class="modal fade" id="camperModal" >
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Camper Data</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/chugim/klugie?session={{session.id}}">
				<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name" readonly>
						</div>
						<div class="form-group col-md-3">
							<label for="eidah">Eidah</label>
							<select class="custom-select" required id="eidah" name="eidah">
								{{#each eidot}}
								<option value="{{toLowerCase this}}">{{this}}</option>
								{{/each}}
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="gender">Gender</label>
							<select class="custom-select" required id="gender" name="gender" required>
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<label for="bunk">Bunk</label>
							<select class="custom-select" required id="bunk" name="bunk"></select>
						</div>
					</div>
					{{#each counter}}
					<div class="form-group">
						<label for="pref">Choice {{this}}</label>
						<select class="custom-select pref" required id="pref{{this}}" name="prefs"></select>
					</div>
					{{/each}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="delete">Delete Camper</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Delete Warning -->
<div class="modal fade" id="deleteWarning" style="text-align: center">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Are you sure?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p style="text-align: justify">Are you sure you want to delete this session? All of the camper data will be permentantly deleted. This action is not undoable.</p>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="delete-session">Yes, Delete Session</button>
			</div>
		</div>
	</div>
</div>

<script>
	//CTXT
	
	//Make sure to pass in lower case eidah
	function bunksAndChugim(eidah) {
		$("#bunk").empty();
		$("#bunk").append(`<option value="" selected disabled>Select Bunk</option>`)
		for (var bunk of ctxt.session.bunks[eidah]) {
			$("#bunk").append(`<option value="${bunk.toLowerCase()}">${bunk}</option>`)
		}

		//Populate Chug List
		$(`.pref`).empty()
		$(`.pref`).append(`<option disabled selected>Select Preference</option`)

		for (var chug of ctxt.chugim[eidah]) {
			$(`.pref`).append(`<option value="${chug.toLowerCase()}">${chug}</option>`)
		}
	}

	// Use modal presentation event
	$("#camperModal").on("show.bs.modal", function(event) {
		var row = $(event.relatedTarget)
		data = row.find('td')
		modal = $(this)
		
		modal.find('#name').val(data[0].textContent)
		modal.find('#eidah').val(data[1].textContent.toLowerCase())
		bunksAndChugim(data[1].textContent.toLowerCase())
		modal.find('#bunk').val(data[3].textContent.toLowerCase())
		modal.find("#gender").val(data[2].textContent.toLowerCase())
		for (var i = 0; i <= 2; i++) {
			$(modal.find(`.pref`)[i]).val(data[i+4].textContent.toLowerCase())
		}
	});

	$("#eidah").on("change", function() {
		bunksAndChugim($(this).val())
	});

	$("#delete").on('click', function() {
		$.ajax({
			url: `/chugim/klugie?session=${ctxt.sessionID}&camper=${$("#name").val().replace(/ /, '+')}`,
			type: 'DELETE',
			success: function(result) {
				if (result === "Success") {window.location.replace(`/chugim/klugie?session=${ctxt.sessionID}`);}
			}
		})
	});

	$("#delete-session").on('click', function() {
		$.ajax({
			url: `/chugim/klugie/newsession?session=${ctxt.sessionID}`,
			type: 'DELETE',
			success: function(result) {
				if (result === "Success") {window.location.replace(`/chugim/klugie`);}
			}
		})
	});


	// Set coloring for tables
	$(".camper-row").on({
		'mouseenter': function() {
			$(this).addClass('bluemouse') },
		'mouseleave': function() {
			$(this).removeClass('bluemouse') }
	});

	// Check for inconsistencies
	for (var row of $(".camper-row")) {
		var eidah = $(row).find('td')[1].innerText.toLowerCase();
		for (var chug of $(row).find('td').slice(4)) {
			if (!ctxt.chugim[eidah].map(function(str) {return str.toLowerCase()}).includes(chug.innerText.toLowerCase())) {
				$(row).addClass('yellowmouse');
			}
		}
	}

	if($(".camper-row.yellowmouse").length) {
		$("#produceList").on('click', function() {
			alert(`There are ${$(".trow.yellowmouse").length} campers entries who require attention. The chugim they signed up for are no longer available. Please find the campers highlighted in yellow and resolve these conflicts before producing the final chug list.`)
		})
	}

	//Activation
	$("#activate").on('click', function() {
		$.post(`/chugim/klugie/activate?session=${ctxt.session._id}`, function(data) {
			if (data === "Success") window.location.reload()
		})
	});
</script>